# BD propia del microservicio de auditoría
DATABASE_URL=postgresql://audit:audit@localhost:5433/audit?schema=public

# CORS
CORS_ORIGINS=*

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=audit_user
RABBITMQ_PASSWORD=audit_pass
RABBITMQ_EXCHANGE=audit_exchange
RABBITMQ_QUEUE=audit_queue
RABBITMQ_ROUTING_KEY=audit.event

# Puerto de la API
PORT=3002